*{
  margin: 0;
  padding: 0;
}

.inp-box{
  background: hsl(145, 96%, 49%);
  width: fit-content;
  padding: 15px;
  display: flex;
  align-content: end;
  border: 3px solid silver;
}

.sendBtn{
  margin-left: 8px;
}
